section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 20px;
    width: 500px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    background-color: white;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    color: #505355;   
}

img {
    max-width:100%;
    max-height:100%;
}